body {
	display:flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}


.tilpk {
	width: 100%;
	/*Kad tilptu paveikslelis i columa, uzima 100% laisvos vietos*/
}

.pading {
	padding-top: 27px;

}

.h3 {
	text-align: center;
}

.btn-aukstis {
	height: 150px;
	padding-top: 58px;
}

.dydis {
	max-height:100px;
	max-width:100px;
}

.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
.text_center {
	margin-left: auto;
    margin-right: auto;
    width: 15em;
}


/* Map duomenys */
[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: #ff6f00;
    border-color: #e65100;
}

[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ff6f00;
    background-color:  #e65100;
    z-index: 0;
}



/* Map outside tab */
#map_2 {
    height: 438px;
    width: 100%;
    margin-left:
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mapsection {
  margin-top: 0px;
  background: black;
}/*viskas nukopinta*/
#contact {
  margin-top: 0px;
  background: #efebe9;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 30px;
bottom:100% 
   width: 100%
   
}

.img {
    max-width: 100%;
    height: auto;
}

.spaces {
	padding-top-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
.plotis {
	width:80%;
}

.picture {
	width: 100%;
	max-height: 300px;
 }

.myContainer {
	position: relative;
	width: 100%;
}
.myImage {
	display:block;
	width:100%;
	height:auto;

}
.myOverlay {
	position:absolute;
	top: 0;
	bottom: 20px;
	left: 100px;
	right: 100px;
	height: 100%;
	width: auto;
	opacity: 0;
	transition: .5s ease;
	background-color: #424242;
}

.myContainer:hover .myOverlay{
	opacity:0.8;
}

.myText {
	color:white;
	font-size:20px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align:center;
}

#infoStulpeliai {
	margin-top:25px;
}

.clean {
	box-shadow: none;
	background: none;
}

#nuotrauka1R{
	width: 100%;
	max-height: 300px;
 }
#nuotrauka2R{
	width: 182px;
	max-height: 268px;
 }
 #nuotrauka3R{
	width: 100%;
	max-height: 150px;
	padding-top: 20px;
 }
 #treciasTab1{
  letter-spacing: 3px;
  text-align: center;

 }
 #filmoId{
 	 	margin-left: 40%;
 }
 #kont{
 	text-align: 
 	padding-right:30px;
 	letter-spacing: 2px;
 	line-height: 1.3;
 }
 #filmo{
 	text-orientation:top;
 	margin-left: 40%;
 	letter-spacing: 3px;
 	line-height: 0.7;
 }





.njs_border {
	border: solid;
}
.breadcrumb:before {
	color:black;	
}


.a_link_color {
	color:black;
}


/*Teksto patraukimsa nuo straipsniu paveiksleliu*/
.img_float_on_left{
	float:left;
	max-width:250px;
	border:1px solid #ddd;
	border-radius: 4px;
	padding:5px;
}

/*H5 tipo antrastems suteikiu bold effecta*/
h5 {
	font-weight:bold;
}

.tabs .indicator {
    background-color: #efebe9!important;
}
.tabs .tab a.hover {
  color:#efebe9 !important;
}
.tab a.active {
  background-color:#efebe9!important;
  z-index: 2;
  color:black!important;

}

#rApoLink{
	font-weight: bold;
}
#foot{
	padding-left: 25px;
}
#tekstoDestymas{
	text-align: center;
	font-size:20px;
	padding-left: 25px;
	padding-top: 10px;
}


.stulpeliodydis{
	height:185px;
}


#Rchat1{
	vertical-align: center;
}
	


.nav{
  height: 80px;
  line-height: 30px;
    }
    
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}